<html>
  <head>
    <meta charset="utf-8">
    <title>Claire's Control Panel</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/styles.css">
  </head>
  <body>
    @RenderBody()
    @Html.Partial("Footer")
  </body>
</html>